<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="http://yourdomain/TAUMultiPage" version="1.0.0" viewmodes="maximized">
    <access origin="https://api-maps.yandex.ru/2.1" subdomains="true"></access>
    <access origin="https://yandex.ru" subdomains="true"></access>
    <tizen:application id="m5dn0bWZyn.TAUMultiPage" package="m5dn0bWZyn" required_version="2.4"/>
    <content src="index.html"/>
    <tizen:content-security-policy>img-src data: https://api-maps.yandex.ru https://*.maps.yandex.net https://yandex.ru 'self'; child-src https://api-maps.yandex.ru; frame-src https://api-maps.yandex.ru; script-src 'unsafe-eval' https://api-maps.yandex.ru https://suggest-maps.yandex.ru http://*.maps.yandex.net https://yandex.ru 'self';</tizen:content-security-policy>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <feature name="tizen.org/feature/location.gps"/>
    <feature name="tizen.org/feature/network.net_proxy"/>
    <feature name="tizen.org/feature/network.secure_element"/>
    <feature name="tizen.org/feature/network.wifi"/>
    <feature name="tizen.org/feature/location.batch"/>
    <feature name="tizen.org/feature/sensor.proximity"/>
    <feature name="tizen.org/feature/sensor.ultraviolet"/>
    <icon src="icon.png"/>
    <name>Yandex Map Test</name>
    <tizen:privilege name="http://tizen.org/privilege/download"/>
    <tizen:privilege name="http://tizen.org/privilege/internet"/>
    <tizen:privilege name="http://tizen.org/privilege/location"/>
    <tizen:profile name="mobile"/>
    <tizen:setting context-menu="disable"/>
</widget>
